<p-toast></p-toast>
<div class="container-fluid">
    <div class="div-conten grid p-fluid">
        <h5>Cuadre de caja:</h5>       
        <div class="row btn-position">            
            <br>                         
            <div class="field col-12 md:col-3 mt-3">                           
                <button type="button" class="btn btn-info" (click)="funct_imprime_cuadre_de_caja_c();" [style]="{'width':'22vw','height':'10vh'}"><span class="pi pi-save"> Imprimir cuadre de caja</span></button>
            </div>
            <div class="field col-12 md:col-3 mt-3">                           
                <button type="button" class="btn btn-success" (click)="funct_nex_model_exportar();" [style]="{'width':'22vw','height':'10vh'}"><span class="pi pi-save"> Actualizar datos en la nube</span></button>
            </div>                   
        </div>     
    </div>
</div>

