body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}

@media screen and (max-width: 1366px){
    .container-fluid {
        display: flex;   
        width:100vw;
        justify-content: center;
        align-items: center;
        background-color: rgb(61, 50, 211);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
    
    .middle {    
        display: block;  
        position: absolute;
        width: 100%;  
        height: 100vh; 
        bottom: 0;
        text-align: center;
        left: 0;
        right: 0;
        z-index: 1;
        background: #005C97;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .login-container {
        border: 1px solid white;
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;       
        max-width: 350px;   
        min-height: 60vh;
        margin: 3% auto;
        border-radius: 10px;
        background:#1c2833;  /* fallback for old browsers */

    }
    
    .div-1{
        border: 1px solid white ;
        width: 100%;
        max-height: 35vh;
        background: #fff;
        border-radius: 10px;
    }
    .div-2{
        border: 1px solid white ;
        width: 100%;
        min-height: 50vh;
        max-height: 50vh;    
        border-radius: 10px;
    }
    
    .div-3{   
        background: white;
        width: 100%;
        min-height: 50vh;
        max-height: 50vh;    
        border-radius: 10px;
    }
    
    .image-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;  
        width: 100%;   
        max-height: 30vh;   
        border-radius: 10px;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
    }
    
    .contrato{
        flex: 1;
        display: flex; 
        margin-top: 10px;
        width: 100%; 
        height: 40px;    
        text-align: left;
        font-size: 10px;
    }
   
}
      
  /* Estilos para pantallas medianas y pequeñas (hasta 1600px de ancho) */
  @media screen and (min-width: 1600px) {
    .container-fluid {
        display: flex;   
        width:100vw;
        justify-content: center;
        align-items: center;
        background-color: rgb(61, 50, 211);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
    
    .middle {    
        display: block;  
        position: absolute;
        width: 100%;  
        height: 100vh; 
        bottom: 0;
        text-align: center;
        left: 0;
        right: 0;
        z-index: 1;
        background: #005C97;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    
    .login-container {
        border: 1px solid white;
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color:red;
        max-width: 350px;   
        min-height: 50vh;
        margin: 4% auto;
        border-radius: 10px;
        background: #614385;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
    
    .div-1{
        border: 1px solid white ;
        width: 100%;
        max-height: 35vh;
        background: #fff;
        border-radius: 10px;
    }
    .div-2{
        border: 1px solid white ;
        width: 100%;
        min-height: 40vh;
        max-height: 40vh;    
        border-radius: 10px;
    }
    
    .div-3{   
        background: white;
        width: 100%;
        min-height: 40vh;
        max-height: 40vh;    
        border-radius: 10px;
    }
    
    .image-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;  
        width: 100%;   
        max-height: 30vh;   
        border-radius: 10px;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
    }

    .contrato{
        flex: 1;
        display: flex; 
        margin-top: 20px;
        width: 100%; 
        height: 40px;    
        text-align: left;
        font-size: 10px;
    }
    
}


.card-border{
    border: 1px solid blue    
}

label{
    font-size: 13px;
}


@media (max-width: 768px) {    
    
}

:host ::ng-deep {
    .p-toast-message-custom {
        background-color: #E1CFE7;
        border: solid #8A427A;
        border-width: 0 0 0 6px;
        color: #2c1e30;
        .p-toast-icon-close {
            color: #2c1e30;
        }
    }
}

.btn{
    width: 100%;
    text-align: right;
    text-align: center;
}

