/* Estilos para pantallas medianas y pequeñas (hasta 1600px de ancho) */
@media screen and (mIN-width: 1600px) {
    .div_v{
      border-radius: 5px;
      width: 370px;
      height: 50vh; 
      margin-left: -3px;
      margin-top: 10px;
      padding: 10px;
      background: #4568DC;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    }
  }
  
  /* Estilos adicionales para pantallas pequeñas (hasta 1366px de ancho) */   
  @media screen and (max-width: 1366px){
    .div_v{
      border-radius: 5px;
      width: 350px;
      height: 50vh; 
      margin-left: 7px;
      margin-top: 10px;
      padding: 25px;
      background: #4568DC;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    }
  }
  
  h5,span,label{
    color:white
  }
  
  .spacing{
    margin-top: 20px;
  }
  
  .btn-position{
    float: inline-end; 
    margin-top: 20px;
    margin-right: 2px;
  }

  :host ::ng-deep .p-toast-message{
    border-radius: 5px;
    height: 100px;
    padding: 10px;
    background:#f7f799 !important; 
    color:rgb(107, 100, 100); 
    font: bold;  
}